%h1 Editing ticket

= render 'form', ticket: @ticket

= link_to 'Show', @ticket
\|
= link_to 'Back', :tickets

%p= link_to 'Delete', @ticket, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }
