!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'user-scalable=no, width=device-width' }

    :css
      .email-confirm { display: none; visibility: hidden; }

    %title RTable Sign In

  %body
    %main= yield